<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>

    <add key="TimerInterval" value="900000" />
    <add key="SourceFolder" value="D:/M.Saad/FAST-NU/7th Semester/Information Processing Techniques IPT/source" />
    <add key="SenderEmail" value="k163808@nu.edu.pk" />
    <add key="ReceiverEmail" value="saadanwar608@gmail.com" />
    <add key="SenderPassword" value="fastuni123" />
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="Enablessl" value="true" />

  </appSettings>
</configuration>